.avatar{
	height:100%;
	width:100%;

}
.logo{
	height: 100%;
}
header{
	padding-top: 20px;
}
nav{
	padding-left:33%;
	padding-right:33%;
}

.navbar ul li:hover{
	background-color:#988e8e; 
}
.navbar ul li a:hover{
	color:white !important;
	font-weight: bold;
}