.avatar{
	height:100%;
	width:100%;

}
.logo{
	height: 100%;
}
header{
	padding-top: 20px;
}
nav{
	background-color: whitesmoke;
	padding: 10px;
	font-size: 20px;
}
.nav-justified>li>a{
	color: black;
}
.nav-pills>li.active>a{
	background-color: black;
}
.nav-pills>li>a:hover{
	background-color: darkgrey;
}
.nav-pills>li.active>a:hover{
	background-color: grey;
}
div.responsive-calendar{
	padding-top: 30px;
}