.avatar{
	height:100%;
	width:100%;
		
}
.logo{
	height: 100%;
}
header{
	padding-top: 20px;
}
.body{
	margin:50px;
}
.hours{
	left: 15px;
	border: 2px solid black;
	font-size: 50px;
	text-align: center;
}
.awards{
	left: 40px;
}
.content{
	padding-bottom: 25px;
}
table{
	font-size: 25px;
}
nav{
	background-color: whitesmoke;
	padding: 10px;
	font-size: 20px;
}
.nav-justified>li>a{
	color: black;
}
.nav-pills>li.active>a{
	background-color: black;
}
.nav-pills>li>a:hover{
	background-color: darkgrey;
}
.nav-pills>li.active>a:hover{
	background-color: grey;
}