.avatar{
	height:100%;
	width:100%;
}
.logo{
	height: 100%;
}
header{
	padding-top: 20px;
}
button a{
	color:white;
	text-decoration: none;
}
button a:hover{
	text-decoration: none;
}
.checkin, .checkout{
	width: 90%;
	margin-left: 5%;
	height: 180px;
}
.checkin{
	font-size: 100px;
}
.checkout{
	font-size: 100px;
	margin-top: 20px;
}
p{
	font-size: 25px;
}
p.user{
	font-size: 14px;
}
.bodytext{
	padding-top: 12px;
}
nav{
	background-color: whitesmoke;
	padding: 10px;
	font-size: 20px;
}
.nav-justified>li>a{
	color: black;
}
.nav-pills>li.active>a{
	background-color: black;
}
.nav-pills>li>a:hover{
	background-color: darkgrey;
}
.nav-pills>li.active>a:hover{
	background-color: grey;
}