.avatar{
		height:100%;
		width:100%;
	}
.logo{
		height: 100%;
	}
header{
		padding-top: 20px;
}
.date, .event, .details, .attend{
	border: 3px solid black;
}
.event{
	position: relative;
    left: 1px;
}
.details{
	position: relative;
    top: 10px;
}
.body{
	padding:40px;
}
p{
	font-size: 30px;
}
.btn{
	width: 100%;
	height: 120px;
	font-size: 80px;
	position: relative;
	right: 12px;
}
.attend p{
	text-align: center;
	color: white;
	font-size: 50px;
}
.attend{
	background-color: black;
	border: solid blue;
}
#user{
	font-size: 14px;
}
table{
	font-size: 25px;
}
nav{
	background-color: whitesmoke;
	padding: 10px;
	font-size: 20px;
}
.nav-justified>li>a{
	color: black;
}
.nav-pills>li.active>a{
	background-color: black;
}
.nav-pills>li>a:hover{
	background-color: darkgrey;
}
.nav-pills>li.active>a:hover{
	background-color: grey;
}