.avatar{
	height:100%;
	width:100%;
}
.logo{
	height: 100%;
}
header{
	padding-top: 20px;
}

nav{
	padding-left:33%;
	padding-right:33%;
}
button a{
	color:white;
	text-decoration: none;
}
button a:hover{
	text-decoration: none;
}

.navbar ul li:hover{
	background-color:#988e8e; 
}
.navbar ul li a:hover{
	color:white !important;
	font-weight: bold;
}
.checkin, .checkout{
	width: 90%;
	margin-left: 5%;
	height: 180px;
}
.checkin{
	font-size: 100px;
}
.checkout{
	font-size: 100px;
	margin-top: 20px;
}
p{
	font-size: 25px;
}
#user{
	font-size: 14px;
}